p.normal,
h2.normal,
h3.normal {
  color: #484848;
}

div.normal,
div.dark {
  box-shadow: 6px 6px gray;
}

p.dark,
h2.dark,
h3.dark {
  color: white;
}

section.dark {
  background: rgb(14, 14, 14);
}

img.dark {
  background: white;
}
